[submodule "third_party/gflags/upstream"]
	path = third_party/gflags/upstream
	url = https://github.com/gflags/gflags
[submodule "third_party/googletest/upstream"]
	path = third_party/googletest/upstream
	url = https://github.com/google/googletest
[submodule "third_party/benchmark/upstream"]
	path = third_party/benchmark/upstream
	url = https://github.com/google/benchmark
